
.slick-prev,
.slick-next {
  top: 20px; 
  width: 25px; 
  height: 25px; 
  z-index: 1; 
  color: #1F1D1F;
}


.slick-prev {
  left: auto;
  right: 50px; 
}

.slick-next {
  left: auto;
  right: 10px; 
}

.slick-prev:hover{
  color: #1F1D1F;
}

.slick-next:hover {
  color: #1F1D1F;
}